<!DOCTYPE html>
<html>

<head>
    <title>RTO Exam Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:white">

    <div id="bdy">
        <div id="content">

            <div>
            <nav class="navbar navbar-expand-sm" style="background-color: #795548;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/adminHome">Add question</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/questionList">Question list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/allscores" >Scores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>

            <div class="container col-sm-9 myDiv mt-5">
                <div class="scoreData" *ngFor="let data of scores;index as i">
                    {{i+1}} ) {{data.username}} has scored {{data.score}} on {{data.time}}
                </div>
            </div>
        </div>

        <footer id="footer">
            <p>Copyright © 2021</p>
            <p>Contact Utsav Parakhiya : +919726247049</p>
        </footer>

    </div>
</body>

</html>