<!DOCTYPE html>
<html>

<head>
    <title>RTO Exam Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:white">

    <div id="bdy">
        <div id="content">

                
            <nav class="navbar navbar-expand-sm" style="background-color: #795548;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/adminHome">Add question</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/questionList">Question list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </nav>


            <div class="container  my-auto col-sm-4 myDiv">

                <div class="pt-2 mt-5 mb-4">
                    <h1>Add question</h1>
                </div>

                <form [formGroup]="questionForm" autocomplete="off">
                    <div class="questionbox">
                        <div class="question form-group">
                            <textarea formControlName="question" placeholder="Enter a question here" required rows="5"
                                class="form-control"></textarea> <br>
                        </div>
                        <div class="answer form-group">
                            <input type="text" formControlName="optionA" placeholder="Option A" class="form-control"
                                required>
                        </div>
                        <div class="answer form-group">
                            <input type="text" formControlName="optionB" placeholder="Option B" class="form-control"
                                required>
                        </div>
                        <div class="answer form-group">
                            <input type="text" formControlName="optionC" placeholder="Option C" class="form-control"
                                required>
                        </div>
                        <div class="answer form-group">
                            <input type="text" formControlName="optionD" placeholder="Option D" class="form-control"
                                required><br>
                        </div>
                        <div class="setDropdown">
                            <select name="Select correct option" class="dropdown custom-select" [(ngModel)]="correct"
                                [ngModelOptions]="{standalone: true}" data-dropdown-auto="false">
                                <option value="Correct Answer" selected>&nbsp;&nbsp;&nbsp;Correct Answer</option>
                                <option value="A">&nbsp;&nbsp;&nbsp;A</option>
                                <option value="B">&nbsp;&nbsp;&nbsp;B</option>
                                <option value="C">&nbsp;&nbsp;&nbsp;C</option>
                                <option value="D">&nbsp;&nbsp;&nbsp;D</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <input type="button" class="btn-primary btn form-control mt-5 mb-4" value="Add question"
                                (click)="addQuestion()">
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <footer id="footer">
            <p>Copyright © 2021</p>
            <p>Contact Utsav Parakhiya : +919726247049</p>
        </footer>

    </div>
</body>

</html>