<div id="bdy">
	<div id="content">

		<nav class="navbar navbar-expand-sm" style="background-color: #795548;">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/userHome">Home</a>
				</li>
				<li class="nav-item">
					<a  href="/givetest">Give Exam</a>
				</li>
				<li class="nav-item">
				<a href="/myscores">My Scores</a>
			</li>
			<li class="nav-item">
				<a  href="/learnQuestions">Learn Questions</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
			</li>
			</ul>
		</nav>
		<div>
			<table id="customers" class="container mt-5">
				<tr>
					<th class="text-center">Test No</th>
					<th class="text-center">Score</th>
					<th class="text-center">Date</th>
					<th class="text-center">Time</th>
				</tr>

				<tr *ngFor="let data of scores;index as i">
						<td class="text-center">{{i+1}}</td>
						<td class="text-center">{{data.score}}</td>
						<td class="text-center">{{data.time | date}}</td>
						<td class="text-center">{{data.time | date:'mediumTime'}}</td>
				</tr>

			</table>
		</div>

	</div>

	<footer id="footer">
		<p>Copyright © 2021</p>
		<p>Contact Utsav Parakhiya : +919726247049</p>
	</footer>

</div>