<!DOCTYPE html>
<html>

<head>
    <title>RTO Exam Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:white">

    <div id="bdy">
        <div id="content">

            <nav class="navbar navbar-expand-sm" style="background-color: #795548;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" routerLink="/giveExam">Give Exam</a>
                    </li>
                </ul>
            </nav>


            <div class="container  my-auto col-sm-9 myDiv">
                <div class="mt-5">
                    <h1>Learning License in Gujarat</h1>
                    To legally drive a motor vehicle in the state of Gujarat, an individual must hold a valid driving
                    license. A driving license can be obtained by an individual who holds a learning license. A learning
                    license in Gujarat is issued as per the provisions of the Motor Vehicles Act, 1988 by the Gujarat
                    RTO. A learning license issued in Gujarat is valid for a period of 6 months and an application for
                    the permanent DL can be made after 30 days or within 180 days from the date of issuance of the
                    learning license. Gujarat learning license can be obtained by an individual by following the
                    below-mentioned process.
                </div>

                <div class="mt-5">
                    <h1>Eligibility Criteria for Obtaining Learning License in Gujarat</h1>
                    <ul>
                        <li>To obtain a learning license for a motor vehicle not exceeding an engine capacity of 50cc,
                            an individual should be above the age of 16 years and should obtain consent from his parents
                            or guardian.</li>
                        <li>To obtain a learning license for a light motor vehicle, an individual should be above the
                            age of 18 years.</li>
                        <li>To obtain a learning license for a commercial vehicle, an individual should be above the age
                            of 20 years.</li>
                        <li>An individual applying for a learning license should have conversed with traffic rules and
                            regulations. </li>
                    </ul>
                </div>

                <div class="mt-5">
                    <h1>Documents Required for Obtaining a Learner’s License in Gujarat</h1>
                    The below documents have to be submitted to the Gujarat RTO to obtain a learning license in the
                    state.
                    <ul>
                        <li>Age and address proof documents such as utility bills, PAN card, Aadhar Card, school
                            certificate, birth certificate, etc.</li>
                        <li>Application Form 2</li>
                        <li>Application fee of Rs. 30</li>
                        <li>Learning license test fee of Rs. 25</li>
                        <li>Application Form 2</li>
                        <li>Passport size photographs</li>
                    </ul>
                </div>

                <div class="mt-5 pb-2">
                    <h1>How to Obtain a Learning License in Gujarat?</h1>
                    <p><strong>Online application process to obtain a learning license in Gujarat</strong></p>
                        
                    To obtain a permanent DL in Gujarat, it’s imperative for an individual to first obtain a
                        learner’s license. An application for a learner’s license in Gujarat can be obtained by
                        following either of the below processes.
                        <ul>
                            <li>Visit Ministry of Highways and Road Transport Website- parivahan.gov.in/parivahan</li>
                            <li>Click on online services and select driving license related services</li>
                            <li>Enter the name of the state-Gujarat</li>
                            <li>Click on apply online and select learning license</li>
                            <li>Fill the application form and submit it online</li>
                            <li>Upload scanned copies of the above-mentioned documents</li>
                            <li>Pay the application fees</li>
                            <li>Book a test slot for the learning license test</li>
                            <li>Visit the RTO to give the test</li>
                            <li>The learning license is sent to the applicant's registered address on passing the test.
                            </li>
                        </ul>
                        <p><strong>Offline application process to obtain a learning license in Gujarat</strong></p>
                        <ul>
                            <li>Visit the Gujarat RTO</li>
                            <li>Collect the application form or download the form online through Gujarat RTO website
                                rtogujarat.gov.in</li>
                            <li>Fill out the form and submit it along with the relevant documents to the RTO</li>
                            <li>Pay the application fees</li>
                            <li>Book a slot for the LL test</li>
                            <li>Appear for the test on the given date and time</li>
                            <li>On passing the test, the learning license is issued to the applicant. </li>
                        </ul>
                </div>

            </div>

        </div>

        <footer id="footer">
            <p>Copyright © 2021</p>
            <p>Contact Utsav Parakhiya : +919726247049</p>
        </footer>

    </div>
</body>

</html>